################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UniTransport/FileContentIndex/00cca545-f591-491a-9441-62e41709fe1d.vsidx
